body{
    background-color: #CECECE;
}
/* From Uiverse.io by Smit-Prajapati */ 
.input-container {
  position: relative;
    z-index: 4;
    bottom: 820px;
  display: flex;
  
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
  padding: 0.3rem;
  gap: 0.3rem;
}
.hidder{
     position: relative;
    bottom: 888px;
    height: 28px;
    z-index: 3;
    display: flex
;
    border-radius: 16px;
    background: rgb(206 206 206);
    padding: 0.3rem;
    gap: 0.3rem;
}

.input-container input {
   border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex-basis: 75%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  border: 1px solid rgba(237, 34, 36, 0.3);
  outline: none;
  box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5), inset 0px 0px 10px #fe3537, 0px 0px 100px rgba(237, 34, 36, 0.90), 0px 0px 10px #ff9d9e;
}

.input-container button {
  flex-basis: 10.5%;
  padding: 1rem;
background: #fe3538e3;
  box-shadow: inset 4px 4px 10px rgba(237, 34, 36, 0.90), inset -4px -4px 10px rgb(227 115 116);
  cursor: pointer;
backdrop-filter: blur(5px);

  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #23272F;
   border: 2px solid rgba(237, 34, 36, 0.3);
  width: 100%;
 border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.button{
  flex-basis: 10.5%;
  margin-right:14px ;
 
}
 #uploadBtn {
  flex-basis: 25%;
  
  padding: 1rem;
background: #fe3538e3;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);

  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #23272F;
   border: 2px solid rgba(237, 34, 36, 0.3);
  width: 100%;
 border-radius: 50px;
  transition: all 0.2s ease-in-out;
 }

.input-container button:hover {
  background: linear-gradient(135deg, rgba(237, 34, 36, 0.50) 50%, rgb(255, 102, 0) 100%);
 
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}
#uploadBtn:hover{
    background: linear-gradient(135deg, rgba(237, 34, 36, 0.50) 100%);
  
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;

}
#img{
        position: relative;
    bottom: 944px;
    left: 1050px;
    z-index: 4;
    height: 41px;
    cursor: pointer;
}
@media (max-width: 500px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input {
    border-radius: 0.8rem;
  }

  .input-container button {
    padding: 1rem;
    border-radius: 0.8rem;
  }
}